.boton{
    background-color: rgb(25, 23, 23);
    color:white;
    border-radius: 5px;
    border: solid 1px rgb(65, 36, 86);
    width: 60px;
    height: 60px;
    margin: 6px;
    justify-content: center;
    
    
}
.boton:hover{
    color: white;
    background-color:rgb(180, 109, 233);
    border-radius: 5px;
    border: solid 1px white;
    cursor: pointer;
}
.paginado{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
  }


  @media(max-width: 360px){
    .paginado{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 1px;
        padding: 1px;
        width: 100%;
      }
      .boton{
        background-color: rgb(25, 23, 23);
        color:white;
        border-radius: 2px;
        border: solid 1px rgb(65, 36, 86);
        width: 20px;
        height: 30px;
        margin: 1px;
        justify-content: center;
        
        
    }
}